<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Encutador de links</title>

        <!-- CSS Bootstrap -->
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous">
	    <!-- CSS personalizado -->
	    <link rel="stylesheet" href="css/style.css">

        <!-- CSS Bootstrap Icon Font -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

    </head>
    <body>
        <!-- Jumbotron -->
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Encurte seus links com facilidade</h1>

                <form method="post" action="{{ url_for('write_bp.encurtar') }}">
                    <div class="form-group">
                        <p class="lead">Cole o link que deseja encurtar abaixo:</p>
                        <input name="url" required type="url" class="form-control" id="urlInput" placeholder="https://www.seulink.com.br">
                        <p class="mt-2 lead">Escreva um alias para o seu link:</p>
                        <input name="alias" required type="text" class="form-control" id="aliasInput" placeholder="https://www.seulink.com.br/seu alias">
                    </div>

                    <button type="submit" class="btn btn-primary">Encurtar</button>

                    {%if obj_resp.error == 0%}
                        <h2>Seu link: <a href="{{obj_resp.alias}}" target="_blank">{{obj_resp.resultado}}</a></h2>
                    {%else%}
                        <h2 class="mt-1 text-danger">{{obj_resp.resultado}}</h2>
                    {%endif%}

                </form>
            </div>
        </div>



        <footer class="footer mt-auto py-3">
            <div class="container">
                <span class="text-muted">Encurtador de Links feito por Benicio &copy; 2023</span>
                <div class="social-icons">
                    <a href="https://github.com/gustavodias24" target="_blank" class="text-muted"><i class="bi bi-github bi-3x"></i></a>
                    <a href="https://www.instagram.com/gustavobenicio6tb/" target="_blank" class="text-muted"><i class="bi bi-instagram bi-4x"></i></a>
                    <a href="https://www.linkedin.com/in/gustavobeniciodev/" target="_blank" class="text-muted"><i class="bi bi-linkedin bi-3x"></i></a>
                </div>
            </div>
        </footer>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>